{% extends 'base.html' %}
{% block content %}
<style>
    .jumbotron {
align-text:center;
width:75%;
height:100%;
align:center;
background-color: #4287f5;}

</style>


<div class="container">
<div class="row">
<div class="jumbotron">
          <div class="col-7">

<h1>What you'll learn</h1>

<h3>  Tons of modern CSS techniques to create stunning designs and effects</h3>
<h3>   Advanced CSS animations with @keyframes, animation and transition</h3>
<h3>  How CSS works behind the scenes: the cascade, specificity, inheritance, etc.</h3>
<h3>    CSS architecture: component-based design, BEM, writing reusable code, etc.</h3>
<h3>   Flexbox layouts: build a huge real-world project with flexbox</h3>
<h3>   CSS Grid layouts: build a huge real-world project with CSS Grid</h3>
<h3>    Using Sass in real-world projects: global variables, architecting CSS, managing media queries, etc.</h3>
<h3>   Advanced responsive design: media queries, mobile-first vs desktop-first, em vs rem units, etc.</h3>
<h3>   Responsive images in HTML and CSS for faster pageloads</h3>
<h3>  SVG images and videos in HTML and CSS: build a background video effect</h3>
<h3>   The NPM ecosystem: development workflows and building processes</h3>
<h3>  Get friendly and fast support in the course Q&A</h3>
<h3>   Downloadable lectures, code and design assets for all projects</h3>
      </div>
</div></div></div>
{% endblock%}