{% extends 'base.html' %}
{% block content %}
<style>
    .jumbotron {
align-text:center;
width:75%;
height:100%;
align:center;
background-color: #4287f5;}

</style>
<div class="container">
<div class="row">
<div class="jumbotron">
          <div class="col-7">
<h1>What you'll learn</h1>

<h3>    How to create the most important part of any user application</h3>
<h3>How to confidently use some of the most in-demand full stack technologies today</h3>
<h3>  How to create a local development server from scratch</h3>
<h3>    How to create a brand new Django project with sqlite database</h3>
<h3>   How to build your own browsable, self documenting REST API</h3>
<h3>   Handle user registration, login, and status updates in your app with your very own REST API</h3>
</div>
</div></div></div>
{% endblock%}