{% extends 'base.html' %}
{% block content %}
<style>
.jumbotron {
align-text:center;
width:75%;
height:100%;
align:center;
background-color: #4287f5;}

</style>
<div class="container">
<div class="row">
<div class="jumbotron">
          <div class="col-7">
<h1>What you'll learn</h1>

<h3>   How to create and maintain online Contract Standard Terms Library</h3>
<h3>    Authoring Contracts</h3>
<h3>  Creating and using Contract Templates</h3>
<h3>   How to leverage workflow driven process to maintain Standards</h3>
<h3>   Contract online review and approval</h3>
<h3>    Contract negotiation with Suppliers</h3>
<h3>    Contract amendments and approvals</h3>
<h3>   Contract Signatures and Printing, and integration with Oracle Sourcing, iSupplier Portal and Oracle Purchasing.</h3>

          </div></div></div></div>
{% endblock%}