{% extends 'base.html' %}
{% block content %}
<style>
    .jumbotron {
align-text:center;
width:75%;
height:100%;
align:center;
background-color: #4287f5;}

</style>
<div class="container">
<div class="row">
<div class="jumbotron">
    <div class="col-7">
              <h1>What you'll learn</h1>

<h3>  By the end of the course you will be able to create full fledged HTML5 websites</h3>
 <h3>   You will be able to use features like Drag and Drop, Geo location and Web Storage to create
   immersible user experience.</h3>
<h3>  You will have through understanding of both HTML and CSS</h3>
<h3>  You will be able to create web applications for mobile phones as well</h3>
    </div>
</div>
</div></div>
{% endblock%}