{% extends 'base.html' %}
{% block content %}
<style>
.jumbotron {
align-text:center;
width:75%;
height:100%;
align:center;
background-color: #4287f5;}

</style>
<div class="container">
<div class="row">
<div class="jumbotron">
          <div class="col-7">
              <h1>What you'll learn </h1>
<h3>Go from a total beginner to an advanced JavaScript developer</h3>
<h3>Code 3 beautiful real-world apps with both ES5 and ES6+ (no boring toy apps here)</h3>
<h3>JavaScript and programming fundamentals: variables, boolean logic, if/else, loops, functions, arrays, etc.</h3>
<h3>Complex features like the 'this' keyword, function constructors, prototypal inheritance, first-class functions,
    closures</h3>
<h3>Asynchronous JavaScript: The event loop, promises, async/await, AJAX and APIs</h3>
<h3>Modern JavaScript for 2018: NPM, Webpack, Babel and ES6 modules</h3>
<h3>A true understanding of how JavaScript works behind the scenes</h3>
<h3>What's new in ES6: arrow functions, classes, default and rest parameters, etc.</h3>
<h3>Practice your new skills with coding challenges (solutions included)</h3>
<h3>Organize and structure your code using JavaScript patterns like modules</h3>
<h3>Get friendly and fast support in the course Q&A</h3>
<h3>Downloadable lectures, code and design assets for all projects</h3>
          </div></div></div></div>
{% endblock%}